
{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
</head>
{% endblock %}
<body class="{{body_class}} bod_y" data-template="base.twig">
    {#
    {% for category in categories %}
        <a class="nav-item" href="#{{category.slug}}"><h4>{{category.name}}</h4></a>
    {% endfor %}#}



    <nav id="nav-main" class="nav-main" role="navigation">
        <div class="banner">
            <h3 class="hdr-logo" role="banner">    
                <a class="hdr-logo-link" href="/wordpress" rel="home"><img src="http://testwww.pl/logo.jpg"</a> Agencja
            </h3>
        </div>
        <div class="nav">     
            <ul class="navigation">
                {% for item in menu.get_items %}
                    <li class="nav-item {{item.classes | join(' ')}}">
                        <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                        {% if item.get_children %}
                            <ul class="nav nav-drop">
                                {% for child in item.get_children %}
                                    <li class="nav-drop-item">
                                        <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                    </li>

                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </nav>

    {% block content %}

    <section role="main" class="content-wrapper">
        <article class="site" id="site-{{url}}">
            <section class="article-content">
                <h1 class="article-h1">{{site.title}}</h1>
                <div class="article-body">
                    {{site.content}}
                </div>
            </section>

        </article>
    </section>
    
    {% endblock %}

    {% block footer %}
        <div class="footer">
            {% include 'footer.twig' %} 
            {{ function('wp_footer') }}
        </div>
    {% endblock %}
    <script type='text/javascript' src='wp-content/themes/warmup/scripts/jquery.min.js'></script>
    <script type='text/javascript' src='wp-content/themes/warmup/scripts/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='wp-content/themes/warmup/scripts/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='wp-content/themes/warmup/scripts/camera.min.js'></script> 


    <script>
        jQuery(function() {

            jQuery('#camera_wrap_1').camera({
                thumbnails: true
            });

            jQuery('#camera_wrap_2').camera({
                height: '400px',
                loader: 'bar',
                pagination: false,
                thumbnails: true
            });
        });
    </script>
</body>
</html>