
{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
</head>
{% endblock %}
<body class="{{body_class}} bod_y" data-template="base.twig">

    <nav id="nav-main" class="nav-main" role="navigation">
        <div class="banner">
            <h3 class="hdr-logo" role="banner">    
                <a class="hdr-logo-link" href="/wordpress" rel="home"><img src="http://testwww.pl/logo.jpg"</a> Agencja
            </h3>
        </div>
        <div class="nav">     
            <ul class="navigation">
                {% for item in menu.get_items %}
                    <li class="nav-item {{item.classes | join(' ')}}">
                        {% if is_homepage and item.type != 'custom' %}
                            <a class="nav-link" href="#{{item.slug}}">{{item.title}}</a>
                        {% else %}
                            <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                        {% endif %}
                        {% if item.get_children %}
                            <ul class="nav nav-drop">
                                {% for child in item.get_children %}
                                    <li class="nav-drop-item">
                                        <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                    </li>

                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </nav>

    {% block content %}

        {% if is_homepage %}
        {% for homepage_section in homepage_content %}
            <a name="{{homepage_section.slug}}"></a>
            {% if homepage_section.type == 'post' %}
            {#<h3>{{homepage_section.post.title}}</h3>#}
            <div>
                {{homepage_section.post.content}}
            </div>
            {% elseif homepage_section.type == 'list' %}
                <div class="accordian">
                <ul class="accordian_ul">
                {% for post in homepage_section.content %}
                    <li>
                    <div class="image_title">
                        <a href="{{post.link}}">{{post.title}}</a>
                    </div>
                    <div>
                        {{post.content}}
                    </div>
                    </li>
                {% endfor %}
                </ul>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}

    {% endblock %}

    {% block footer %}
        <div class="footer">
            {% include 'footer.twig' %} 
            {{ function('wp_footer') }}
        </div>
    {% endblock %}

</body>
</html>