
{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
</head>
{% endblock %}
<body class="{{body_class}} bod_y" data-template="base.twig">
    {#
    {% for category in categories %}
        <a class="nav-item" href="#{{category.slug}}"><h4>{{category.name}}</h4></a>
    {% endfor %}#}



    <nav id="nav-main" class="nav-main" role="navigation">
        <div class="banner">
            <h3 class="hdr-logo" role="banner">    
                <a class="hdr-logo-link" href="/wordpress" rel="home"><img src="http://testwww.pl/logo.jpg"</a> Agencja
            </h3>
        </div>
        <div class="nav">
            <ul class="navigation">  
                <li class="nav-item">
                    <a class="nav-link" href=""</a>    
                    <ul class="nav nav-drop">
                        <li class="nav-drop-item">
                            <a class="nav-link" href="menu_realizacje">Realizacje</a>
                        </li>
                         <li class="nav-drop-item">
                            <a class="nav-link" href="menu_specjalisci">Kontakt</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <ul class="navigation">
                {% for item in menu.get_items %}
                    <li class="nav-item {{item.classes | join(' ')}}">
                        <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                        {% if item.get_children %}
                            <ul class="nav nav-drop">
                                {% for child in item.get_children %}
                                    <li class="nav-drop-item">
                                        <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                    </li>

                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            
        </div>
    </nav>
	{% block content %}
    <div class="o_nas">
        <section class="rw-wrapper">
            <h2 class="rw-sentence">
                <span>Agencja</a></span>
                <span>nasza firma</span>
                <span>to</span>
                <div class="rw-words">
                    <span>sukces</span>
                    <span>solidność</span>
                    <span>profesjonalizm</span>
                    <span>estetyka</span>
                    <span>innowacje</span>
                    <span>skuteczność</span>
                </div>
            </h2>
        </section>
    </div>

<div class="realizacje"> 
    <h3> <a id="menu_realizacje">Wybrane realizacje</a></h3>
    <div class="accordian">
        <ul>
            <li>
                <div class="image_title">
                    <a href="#">Realizacja1</a>
                </div>
                <a href="#">
                    <img class="accordian_image" src="wp-content/themes/warmup/images/slides/realizacja1.jpg"/>
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Realizacja2</a>
                </div>
                <a href="#">
                    <img class="accordian_image" src="wp-content/themes/warmup/images/slides/realizacja2.jpg"/>
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Realizacja3</a>
                </div>
                <a href="#">
                    <img class="accordian_image" src="wp-content/themes/warmup/images/slides/realizacja3.jpg"/>
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Realizacja4</a>
                </div>
                <a href="#">
                    <img class="accordian_image" src="wp-content/themes/warmup/images/slides/realizacja4.jpg"/>
                </a>
            </li>
        </ul>
    </div>
</div>



    <div class="article">
            {% for category in categories %}
                <a name="{{category.slug}}"></a>
                <article class="{{category.name}}" style="height: 500px;">
                    <h3>{{category.name}}</h3>
					<div class="accordian">
					<ul>
                    {%for post in category.posts %}
					<li>
                        <section>
                            <h4>{{post.post_title}}</h4>
                            {{post.post_content}}
                        </section>
					</li>
                    {%endfor%}
					</ul>
					</div>
                </article>
            {% endfor %}
    </div>
    {#
        <div class="slider">
            <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                <div data-thumb="wp-content/themes/warmup/images/slides/thumbs/realizacja1.jpg" data-src="wp-content/themes/warmup/images/slides/realizacja1.jpg">
                    <div class="camera_caption fadeFromBottom">
                        Realizacja1
                    </div>
                </div>
                <div data-thumb="wp-content/themes/warmup/images/slides/thumbs/realizacja2.jpg" data-src="wp-content/themes/warmup//images/slides/realizacja2.jpg">
                    <div class="camera_caption fadeFromBottom">
                        Realizacja2
                    </div>
                </div>
                <div data-thumb="wp-content/themes/warmup/images/slides/thumbs/realizacja3.png" data-src="wp-content/themes/warmup/images/slides/realizacja3.png">
                    <div class="camera_caption fadeFromBottom">
                        Realizacja3
                    </div>
                </div>
                <div data-thumb="wp-content/themes/warmup/images/slides/thumbs/realizacja4.jpg" data-src="wp-content/themes/warmup/images/slides/realizacja4.jpg">
                    <div class="camera_caption fadeFromBottom">
                        Realizacja4
                    </div>
                </div>
            </div>
        </div>

    
    object(stdClass)#1873 (15) {
          ["term_id"]=>
          &string(1) "1"
          ["name"]=>
          &string(13) "Bez kategorii"
          ["slug"]=>
          &string(13) "bez-kategorii"
          ["term_group"]=>
          string(1) "0"
          ["term_taxonomy_id"]=>
          string(1) "1"
          ["taxonomy"]=>
          string(8) "category"
          ["description"]=>
          &string(0) ""
          ["parent"]=>
          &string(1) "0"
          ["count"]=>
          &string(1) "1"
          ["cat_ID"]=>
          &string(1) "1"
          ["category_count"]=>
          &string(1) "1"
          ["category_description"]=>
          &string(0) ""
          ["cat_name"]=>
          &string(13) "Bez kategorii"
          ["category_nicename"]=>
          &string(13) "bez-kategorii"
          ["category_parent"]=>
          &string(1) "0"
        }
            
            
            object(WP_Post)#1879 (24) {
            ["ID"]=>
            int(42)
            ["post_author"]=>
            string(1) "1"
            ["post_date"]=>
            string(19) "2015-02-22 18:58:34"
            ["post_date_gmt"]=>
            string(19) "2015-02-22 18:58:34"
            ["post_content"]=>
            string(0) ""
            ["post_title"]=>
            string(13) "Prawy poĹ›lad"
            ["post_excerpt"]=>
            string(0) ""
            ["post_status"]=>
            string(7) "publish"
            ["comment_status"]=>
            string(4) "open"
            ["ping_status"]=>
            string(4) "open"
            ["post_password"]=>
            string(0) ""
            ["post_name"]=>
            string(11) "lewy-poslad"
            ["to_ping"]=>
            string(0) ""
            ["pinged"]=>
            string(0) ""
            ["post_modified"]=>
            string(19) "2015-02-22 18:58:44"
            ["post_modified_gmt"]=>
            string(19) "2015-02-22 18:58:44"
            ["post_content_filtered"]=>
            string(0) ""
            ["post_parent"]=>
            int(0)
            ["guid"]=>
            string(32) "http://localhost/wordpress/?p=42"
            ["menu_order"]=>
            int(0)
            ["post_type"]=>
            string(4) "post"
            ["post_mime_type"]=>
            string(0) ""
            ["comment_count"]=>
            string(1) "0"
            ["filter"]=>
            string(3) "raw"
          }
            
    #}
	{% endblock %}

    {% block footer %}
        <div class="footer">
            {% include 'footer.twig' %} 
            {{ function('wp_footer') }}
        </div>
    {% endblock %}
    <script type='text/javascript' src='wp-content/themes/warmup/scripts/jquery.min.js'></script>
    <script type='text/javascript' src='wp-content/themes/warmup/scripts/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='wp-content/themes/warmup/scripts/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='wp-content/themes/warmup/scripts/camera.min.js'></script> 


    <script>
        jQuery(function() {

            jQuery('#camera_wrap_1').camera({
                thumbnails: true
            });

            jQuery('#camera_wrap_2').camera({
                height: '400px',
                loader: 'bar',
                pagination: false,
                thumbnails: true
            });
        });
    </script>
</body>
</html>